# Java/Maven
/target/
*.class
*.jar
*.war
*.ear

# IDEs
/.idea/
*.iml
*.ipr
*.iws
/.project
/.classpath
/.settings/

# macOS
.DS_Store

# Logs
*.log

# Maven Wrapper
.mvn/

# others
out/

# Build generated sources
/generated-sources/
